In [ ]:
from pandas import DataFrame

In [ ]:
cars = {'make': ['Hyudai','Kia', 'Ford', 'Chevrolet'],
        'model': ['Sonata','K5', 'Taurus', 'Impala'],
        'price' : [3200,3100,3500,3700]}

In [ ]:
df = pd.DataFrame(cars)

In [ ]:
df.head()

        make   model  price
0     Hyudai  Sonata   3200
1        Kia      K5   3100
2       Ford  Taurus   3500
3  Chevrolet  Impala   3700

In [ ]:
write_txt = df.to_csv(r'C:\Python\cars.txt', sep=" ", index=True, header=True)

In [ ]:
f = open("C:\Python\cars.csv", "w")

In [ ]:
write_csv = df.to_csv(f, sep=",", index=None, header=True)

In [ ]:
f.close()