In [1]:
from pandas import read_csv

In [3]:
score = read_csv("/content/drive/MyDrive/data/Python/score.txt")

In [5]:
score.head()

  name korean english math ns ss
0             강대성 67 87 60 85 80
1             한준호 63 73 82 73 85
2             김종욱 74 53 76 72 58
3             박상호 55 65 49 84 96
4             김소현 76 69 69 92 70

In [6]:
score.__class__

pandas.core.frame.DataFrame

In [7]:
score.shape

(50, 1)

In [8]:
score.to_csv("/content/drive/MyDrive/data/Python/score_out.csv")

In [9]:
score_out = read_csv("/content/drive/MyDrive/data/Python/score_out.csv")

In [10]:
score_out.head()

   Unnamed: 0 name korean english math ns ss
0           0             강대성 67 87 60 85 80
1           1             한준호 63 73 82 73 85
2           2             김종욱 74 53 76 72 58
3           3             박상호 55 65 49 84 96
4           4             김소현 76 69 69 92 70